---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Layout from "@/layouts/Layout.astro";
import { SITE } from "@/config";
---

<Layout title={`Projects | ${SITE.title}`}>
  <Header />
  <Breadcrumb />
  <main id="main-content">
    <section id="about" class="prose max-w-5xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">Projects</h1>
    </section>
    <section id="cards" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 mt-10">
      <a href="https://github.com/willtheorangeguy/Apache-File-Directory" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://raw.githubusercontent.com/willtheorangeguy/Apache-File-Directory/main/docs/images/logo.png" alt="Apache File Directory" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Apache File Directory</h2>
            <p>The basic Apache file directory page, as a simple HTML page.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/Auto-Announcements" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://github.com/willtheorangeguy/Auto-Anouncements/raw/master/docs/images/logo.png" alt="Auto Announcements" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Auto Announcements</h2>
            <p>A bot framework that automatically sends announcements (or any other file) to a specified email address on Saturday night or when the script is run.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/Changelog-Transcripts" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.changelog.com%2Fstatic%2Fimages%2Fshare%2Ftwitter-podcast-0fed02e920a2ff887b9c8ccac88925e1.png&f=1&nofb=1&ipt=8bb61a967064517d831333db02a0b5e0edf30462682834ce5d4900eb1fea97ad" alt="Changelog Transcripts" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Changelog Transcripts</h2>
            <p>Transcripts generated from Changelog Podcast Universe podcast episodes through OpenAI Whisper + Llama 3.1.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/Chrome-File-Directory" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://raw.githubusercontent.com/willtheorangeguy/Chrome-File-Directory/main/docs/images/logo.png" alt="Chrome File Directory" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Chrome File Directory</h2>
            <p>The basic Chrome file directory page, as a simple HTML page.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/Craft-Clash" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://github.com/willtheorangeguy/Craft-Clash/raw/main/docs/images/logo.png" alt="Craft Clash" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Craft Clash</h2>
            <p>A game that is a cross of Minecraft and Clash of Clans, written in Python!</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/HCC-Sermon-Transcripts" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://yt3.googleusercontent.com/zgrTu9GKuPZLOMjlvSy38QzA4lCUUS1JlVWPzqdPzJNTf6ohLuBtGHqarmkYeoLut7PAu8lZR3g=w1707-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj" alt="Hope Community Church Sermon Transcripts" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Hope Community Church Sermon Transcripts</h2>
            <p>Transcripts generated from HCC sermons through OpenAI Whisper + Llama 3.1.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/incremental-clicker" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://raw.githubusercontent.com/willtheorangeguy/incremental-clicker/refs/heads/main/docs/app.png" alt="Incremental Clicker" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Incremental Clicker</h2>
            <p>A basic Python GUI application to create an incremental clicker that remains on top of your screen at all times.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/LCRC-Sermon-Transcripts" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://images.squarespace-cdn.com/content/v1/5e7a865b35406e67f52ab66a/5a518a58-1556-4a5c-97b5-97fea360a725/lcrc_75years_07.jpg" alt="Ladner Christian Reformed Church Sermon Transcripts" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Ladner Christian Reformed Church Sermon Transcripts</h2>
            <p>Transcripts generated from LCRC sermons through OpenAI Whisper + Llama 3.1.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/LEGO-Block-Creator" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://raw.githubusercontent.com/willtheorangeguy/LEGO-Block-Creator/master/docs/images/logo.png" alt="LEGO Block Creator" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">LEGO Block Creator</h2>
            <p>Offline inventory tracking of LEGO parts and sets through an easy to use CLI.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/Level1-Links-with-Friends-Transcripts" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://level1techs.us-east-1.linodeobjects.com/original/4X/6/b/8/6b83dfdc05f8a5889f3a60946b7d12b43b927273.jpeg" alt="Level1 Links with Friends Transcripts" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Level1 Links with Friends Transcripts</h2>
            <p>Transcripts generated from Level1 Links with Friends podcast episodes through OpenAI Whisper + Llama 3.1.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/LICRC-Sermon-Transcripts" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://www.crcna.org/sites/default/files/styles/default_mobile/public/2024-11/An%20Unexpected%20Knock.jpg?itok=1VMKRJSw" alt="Langley Immanuel Christian Reformed Church Sermon Transcripts" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Langley Immanuel Christian Reformed Church Sermon Transcripts</h2>
            <p>Transcripts generated from LICRC sermons through OpenAI Whisper + Llama 3.1.</p>
          </div>
        </a>
        <a href="https://willtheorangeguy.github.io/Maximum-PC-Builds-Archive/" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://github.com/willtheorangeguy/Maximum-PC-Builds-Archive/blob/main/docs/images/welcome.gif?raw=true" alt="Maximum PC Build Archive" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Maximum PC Builds Archive</h2>
            <p>An archive of the builds featured on the last pages of the Maximum PC magazine.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/Nginx-File-Directory" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://raw.githubusercontent.com/willtheorangeguy/Nginx-File-Directory/main/docs/images/logo.png" alt="Nginx File Directory" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Nginx File Directory</h2>
            <p>The basic Nginx file directory page, as a simple HTML page.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/On-the-Metal-Transcripts" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://keepboomtech.com/wp-content/uploads/2025/08/fb213f7ba21a4a13a1375668a2fbb595.webp" alt="On the Metal Transcripts" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">On the Metal Transcripts</h2>
            <p>Transcripts generated from On the Metal podcast episodes through OpenAI Whisper + Llama 3.1.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/Oxide-and-Friends-Transcripts" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://keepboomtech.com/wp-content/uploads/2025/08/fb213f7ba21a4a13a1375668a2fbb595.webp" alt="Oxide and Friends Transcripts" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Oxide and Friends Transcripts</h2>
            <p>Transcripts generated from Oxide and Friends podcast episodes through OpenAI Whisper + Llama 3.1.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/ProgramVer" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://raw.githubusercontent.com/willtheorangeguy/ProgramVer/master/docs/images/logo.png" alt="ProgramVer" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">ProgramVer</h2>
            <p>A Python version of Microsoft's 'winver', built to be customizable, and to show copyright info and licenses.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/PyAvatar" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://github.com/willtheorangeguy/PyAvatar/raw/main/docs/images/logo.png" alt="PyAvatar" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">PyAvatar</h2>
            <p>Easily display all of your creative avatars to keep them consistent across websites.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/PyWorkout" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://github.com/willtheorangeguy/PyWorkout/raw/main/docs/images/logo.png" alt="PyWorkout" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">PyWorkout</h2>
            <p>A minimal CLI to keep you inspired during your workout! Easily used and customized, with support for multiple workout plans, different muscle groups and video workouts.</p>
          </div>
        </a>
        <a href="https://willtheorangeguy.github.io/PyTricks-Archive/" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://github.com/willtheorangeguy/PyTricks-Archive/blob/main/docs/images/welcome.gif?raw=true" alt="PyTricks Archive" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">PyTricks Archive</h2>
            <p>An archive of the 🐍PyTricks featured in Dan Badder's Real Python email newsletter.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/Running-Calculator" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://github.com/willtheorangeguy/Running-Calculator/blob/main/docs/images/usage.png?raw=true" alt="Running Calculator" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Running Calculator</h2>
            <p>A running distance and speed command line interface. Measures in metric and imperial units, as well as marathons and half-marathons.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/SelfHosted-Transcripts" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fnoted.lol%2Fcontent%2Fimages%2F2022%2F05%2FSelf-Hosted-Podcast.png&f=1&nofb=1&ipt=6a09575e3db95ac27d1c9a33e88874f1be5d735697b6b1786a52c0e1331762a5" alt="SelfHosted Transcripts" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">SelfHosted Transcripts</h2>
            <p>Transcripts generated from SelfHosted podcast episodes through OpenAI Whisper + Llama 3.1.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/ShellGame-Transcripts" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://storage.ghost.io/c/da/dd/daddd58a-6c12-4721-b25f-761d99893b2a/content/images/size/w960/format/webp/2026/03/shell-game-podcast-review-1.png" alt="ShellGame Transcripts" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">ShellGame Transcripts</h2>
            <p>Transcripts generated from ShellGame podcast episodes through OpenAI Whisper + Llama 3.1.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/Snoopy-Landing-Page" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://raw.githubusercontent.com/willtheorangeguy/Snoopy-Landing-Page/master/docs/images/landing.png" alt="Snoopy Landing Page" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Snoopy Landing Page</h2>
            <p>A simple under construction landing page that features Charles M. Schulz's iconic Snoopy Beagle.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/TBPN-Transcripts" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://pbs.twimg.com/profile_banners/1838288550569349120/1775158895/1500x500" alt="TBPN Transcripts" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">TBPN Transcripts</h2>
            <p>Transcripts generated from TBPN podcast episodes through OpenAI Whisper + Llama 3.1.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/TheStandup-Transcripts" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://i.ytimg.com/vi/JlW7b6rhR2s/maxresdefault.jpg" alt="The Standup Transcripts" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">The Standup Transcripts</h2>
            <p>Transcripts generated from The Standup podcast episodes through OpenAI Whisper + Llama 3.1.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/typing-speed-vscode" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://code.visualstudio.com/assets/docs/setup/vscode-web/remote-repositories.png" alt="VS Code Typing Speed" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">VS Code Typing Speed</h2>
            <p>VS Typing Speed is a Visual Studio Code extension that estimates how fast you are actively typing code and keeps the latest WPM visible in the status bar.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/typing-speed-windows-" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://static0.xdaimages.com/wordpress/wp-content/uploads/2021/06/Windows-11-11.jpg?q=50&fit=crop&w=825&dpr=1.5" alt="Windows Typing Speed" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Windows Typing Speed</h2>
            <p>WinTypingSpeed is a Windows tray app that tracks your live typing speed across Windows applications and shows session metrics.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/WAN-Transcripts" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://i.redd.it/6i7htvrnka731.png" alt="WAN Transcripts" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">WAN Transcripts</h2>
            <p>Transcripts generated from LTT Live Show and WAN Show episodes through OpenAI Whisper + Llama 3.1.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/whisper-captions" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://diplo-media.s3.eu-central-1.amazonaws.com/2024/10/whisper-openai-scrutiny-ai-tool.png" alt="Whisper Captions" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Whisper Captions</h2>
            <p>Generate captions from a video or audio file using Whisper.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/wikipicture" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://raw.githubusercontent.com/willtheorangeguy/wikipicture-web/refs/heads/main/docs/main.png" alt="wikipicture" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">wikipicture</h2>
            <p>Scan your photos library to see if your pictures are a worthwhile contribution to Wikipedia and Wikimedia Commons.</p>
          </div>
        </a>
        <a href="https://github.com/willtheorangeguy/YouTube-Description-Generator" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://m.media-amazon.com/images/I/814tB5cCBhL.jpg" alt="YouTube Description Generator" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">YouTube Description Generator</h2>
            <p>A simple group of scripts to generate descriptions for YouTube Shorts.</p>
          </div>
        </a>
        <a href="https://daniela-and-will-travel.github.io/" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="/assets/imgs/travel-blog.png" alt="Daniela and Will Travel Blog" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">Daniela and Will Travel</h2>
            <p>Mine and my partner's open source travel blog!</p>
          </div>
        </a>
        <a href="https://willtheorangeguy.github.io/" target="_blank" class="card border-skin-line">
          <div class="card-content">
            <img src="https://github.com/willtheorangeguy/willtheorangeguy.github.io/blob/main/docs/images/welcome.jpg?raw=true" alt="willtheorangeguy.github.io" class="w-full h-72 object-cover rounded-lg" />
            <h2 class="text-lg text-skin-accent font-medium decoration-dashed hover:underline">williamvdg.me</h2>
            <p>This website!</p>
          </div>
        </a>
      </section> 
    <section class="prose max-w-6xl prose-img:border-0">
      <br>
    </section>
  </main>
  <Footer />
</Layout>

<style>
    .card {
    display: block;
    padding: 16px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  .border-skin-line {
    --tw-border-opacity: 1;
    border-color: var(--accent);
    border: 1px solid #e5e7eb;
    border-radius: 8px;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .text-skin-accent {
  --tw-text-opacity: 1;
  color: var(--accent);
  }
  </style>
